.rounded-btn,
.rounded-btn:focus,
.rounded-btn:active,
.rounded-btn:visited {
    -webkit-border-radius: 50px;
    border-radius: 50px;
    color: rgba(255, 255, 255, 0.8) !important;
    background: #27a9a4;
    border: 2px solid rgba(84, 167, 163, 0.8);
    font-size: 18px;
    line-height: 40px;
    padding: 0 25px;
}

.rounded-btn:hover {
    color: rgba(84, 167, 163, 0.8) !important;
    border: 2px solid rgba(84, 167, 163, 1);
    background: transparent;
    outline: none;
}

.status {
    text-align: center;
    font-size: 70px;
    font-weight: bold;
    font-family: arial;
    color: rgba(84, 167, 163, 1);
}

.reason {
    text-align: center;
    font-size: 24px;
    color: rgba(84, 167, 163, 1);
}