<nav class="navbar navbar-dark align-items-start sidebar accordion p-0" [ngClass]="{sidebarPushRight: isActive, collapsed: collapsed}">
    <div class="container-fluid d-flex flex-column p-0">
        <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#" [routerLink]="['/home']">
            <div class="sidebar-brand-icon rotate-n-15 mt-4"><img class="img-fluid" src="assets/img/devxlab-icon-white.png"></div>
        </a>
        <hr class="sidebar-divider my-0">
        <ul class="nav navbar-nav text-light mt-4" id="accordionSidebar">
            <li class="nav-item" role="presentation">
                <a href="https://bioseguridad.maps.arcgis.com/apps/opsdashboard/index.html#/3bfb64c9a91944bc8c41edd8ff27e6df" target="_blank" class="nav-link active">
                    <i class="fas fa-tachometer-alt"></i><span>{{ 'DASHBOARD' | translate }}</span>
                </a>
            </li>
            <li class="nav-item" role="presentation"><a class="nav-link active" href="http://www.salud.gov.pr/Pages/coronavirus.aspx" target="_blank"><i class="fas fa-file-medical-alt"></i><span>{{ 'SALUD' | translate }}</span></a></li>
            <li class="nav-item" role="presentation"><a class="nav-link active" href="https://www.misnecesidades.org/" target="_blank"><i class="fas fa-check-double"></i><span>{{ 'MIS NECESIDADES' | translate }}</span></a></li>
            <li class="nav-item" role="presentation"><a class="nav-link active" href="https://e.infogram.com/dab81851-e3af-4767-b1f5-9b54eb900274?parent_url=https%3A%2F%2Festadisticas.pr%2Fen%2Fcovid-19&src=embed#async_embed" target="_blank"><i class="fas fa-chart-bar"></i><span>{{ 'ESTADÍSTICAS' | translate }}</span></a></li>
            <li class="nav-item" role="presentation"><a class="nav-link active" href="https://apps.sociants.com/rapid-test" target="_blank"><i class="fas fa-prescription-bottle"></i><span>{{ 'AUTO EVALUACIÓN' | translate }}</span></a></li>
            <li class="nav-item" role="presentation"><a class="nav-link active" href="https://covidtracking.com/" target="_blank"><i class="fas fa-database"></i><span>{{ 'API DATA' | translate }}</span></a></li>
        </ul>
        <div class="text-center d-none d-md-inline"></div>
    </div>
</nav>