<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="login-box col-md-4">
            <!--<img class="user-avatar" src="assets/images/logo.png" width="150px" />-->
            <h1>BETEL</h1>
            <form role="form">
                <div class="form-content">
                    <h3>Forgot Password</h3>
                    <div class="form-group">
                        <input type="text" class="form-control input-underline input-lg" id="" placeholder="{{ 'Email' | translate }}">
                    </div>
                </div>
                <a class="btn rounded-btn mb-2" [routerLink]="['/login']">{{ 'Register' | translate }}</a><br/>
                <a class="btn text-light mb-4" [routerLink]="['/login']">{{ 'Cancel' | translate }}</a>
            </form>
        </div>
    </div>
</div>