$topnav-background-color: var(--primary);
$color: var(--light);
:host {
    .navbar {
        background-color: $topnav-background-color;
        .navbar-brand {
            color: $color;
        }
        .nav-item>a {
            color: $color;
            &:hover {
                color: $color;
                opacity: .9;
            }
            &.btn-outline-light:hover {
                color: $topnav-background-color;
            }
        }
    }
    .messages {
        width: 300px;
        .media {
            border-bottom: 1px solid $color;
            padding: 5px 10px;
            &:last-child {
                border-bottom: none;
            }
        }
        .media-body {
            h5 {
                font-size: 13px;
                font-weight: 600;
            }
            .small {
                margin: 0;
            }
            .last {
                font-size: 12px;
                margin: 0;
            }
        }
    }
}