<a id="top"></a>
<div id="wrapper" [@routerTransition]>
    <app-sidebar></app-sidebar>
    <div class="d-flex flex-column" id="content-wrapper">
        <div id="content">
            <app-header [dailyItems]="dailyItems" [today]="today"></app-header>
            <div class="container-fluid">
                <div class="d-sm-flex justify-content-between align-items-center mb-4">
                    <h4 class="text-dark mb-4 text-left d-xl-none">COVID-19<br/> Dashboard Puerto Rico</h4>
                    <h3 class="text-dark mb-4 d-none d-xl-block">Dashboard Puerto Rico</h3>

                    <div class="fb-share-button ml-auto" data-href="https://devxlab.com/sites/covid-dash" data-layout="button" data-size="large">
                        <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https://devxlab.com/sites/covid-dash&amp;src=sdkpreparse" style="background-color: #473F93;color: #ffffff;" class="fb-xfbml-parse-ignore btn btn-primary btn-block">
                            <i class="fa fa-share-alt fa-sm text-white-50"></i> Comparte en Facebook</a>
                    </div>
                </div>
                <div class="row d-flex d-lg-none gutters-xs">
                    <div class="col-6 col-md-6 col-xl-5 mb-2">
                        <div class="card bg-warning py-2">
                            <div class="card-body text-center" style="height: auto;padding: 7px;">
                                <div class="row text-light align-items-center no-gutters">
                                    <div class="col mr-2">
                                        <div class="font-weight-bold h5 mb-0"><span class="info-number">{{ dailyItems?.positive | number}}</span></div>
                                        <div class="text-uppercase text-xs mb-1"><span class="info-text"><strong>afectados</strong></span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 mb-2">
                        <div class="card bg-danger py-2">
                            <div class="card-body" style="height: auto;padding: 7px;">
                                <div class="row text-center text-light align-items-center no-gutters">
                                    <div class="col mr-2">
                                        <div class="fh5 mb-0"><span class="info-number">{{ dailyItems?.death | number}}</span></div>
                                        <div class="text-uppercase font-weight-bold text-xs mb-1"><span class="info-text"><strong>FALLECIDOS</strong><br></span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 mb-4">
                        <div class="card bg-success py-2">
                            <div class="card-body" style="height: auto;padding: 7px;">
                                <div class="row text-center text-light align-items-center no-gutters">
                                    <div class="col mr-2">
                                        <div class="h5 mb-0"><span class="info-number">{{ dailyItems?.negative | number}}</span></div>
                                        <div class="text-uppercase font-weight-bold text-xs mb-1"><span class="info-text"><strong>NEGATIVOS</strong></span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 mb-4">
                        <div class="card text-light bg-info py-2">
                            <div class="card-body" style="height: auto;padding: 7px;">
                                <div class="row text-center align-items-center no-gutters">
                                    <div class="col mr-2">
                                        <div class="h5 mb-0"><span class="info-number">{{ dailyItems?.pending | number}}</span></div>
                                        <div class="text-uppercase font-weight-bold text-xs mb-1"><span class="info-text"><strong>PENDIENTES</strong></span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 mb-4">
                        <div class="card text-light bg-secondary py-2">
                            <div class="card-body" style="height: auto;padding: 7px;">
                                <div class="row text-center align-items-center no-gutters">
                                    <div class="col mr-2">
                                        <div class="h5 mb-0"><span class="info-number">{{ dailyItems?.totalTestResults | number}}</span>
                                        </div>
                                        <div class="text-uppercase font-weight-bold text-xs mb-1"><span class="info-text"><strong>PRUEBAS</strong><br></span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5 col-xl-4 mb-4">
                        <div class="card bg-light shadow-none mb-4 border-0">
                            <div class="card-header text-dark border-0 mt-3 text-center">
                                <h6 class="font-weight-bold m-0 chart-title">Total de Casos <br /> {{ dailyItems?.total | number}}</h6>
                            </div>
                            <div class="card-body p-2 pt-0">
                                <app-pie-chart [chart]="chartTotalCases"></app-pie-chart>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7 col-xl-8">
                        <div class="card bg-light mb-4 border-0">
                            <div class="card-header text-dark d-flex justify-content-between align-items-center border-0 mt-3">
                                <h6 class="font-weight-bold m-0 chart-title"><strong>Total de Casos Positivos por
                                        Fecha</strong></h6>
                            </div>
                            <div class="card-body">
                                <app-bar-chart [chart]="chartAllPositiveCases"></app-bar-chart>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5 col-xl-4 mb-4">
                        <div class="card bg-light shadow-none mb-4 border-0">
                            <div class="card-header text-dark border-0 mt-3 text-center">
                                <h6 class="font-weight-bold m-0 chart-title">Porciento por Municipios <br /> {{ allMunicipalitiesCases[0].pTotal | number}}</h6>
                            </div>
                            <div class="card-body p-2 pt-0">
                                <app-pie-chart [chart]="chartMunicipalitiesCases"></app-pie-chart>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7 col-xl-8">
                        <div class="card bg-light mb-4 border-0">
                            <div class="card-header text-dark d-flex justify-content-between align-items-center border-0 mt-3">
                                <h6 class="font-weight-bold m-0 chart-title"><strong>Total de Casos Positivos por
                                        Municipios</strong></h6>
                            </div>
                            <div class="card-body">
                                <app-bar-chart [chart]="chartAllMunicipalitiesCases"></app-bar-chart>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5 col-xl-4 mb-4">
                        <div class="card bg-light mb-4 border-0">
                            <div class="card-header text-dark border-0 mt-3 text-center">
                                <h6 class="font-weight-bold m-0 chart-title">Tasa de Letalidad
                                    <br />{{ letalidad | number: '1.1-1'}}%</h6>
                            </div>
                            <div class="card-body">
                                <app-pie-chart [chart]="chartLetalityAvg"></app-pie-chart>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7 col-xl-8">
                        <div class="card bg-light mb-4 border-0">
                            <div class="card-header text-dark d-flex justify-content-between align-items-center border-0 mt-3">
                                <h6 class="font-weight-bold m-0 chart-title"><strong>Incremento Diario</strong></h6>
                            </div>
                            <div class="card-body">
                                <app-line-chart [chart]="chartAllTotalsByDateCases"></app-line-chart>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="card bg-light mb-4 border-0">
                            <div class="card-header text-dark d-flex justify-content-between align-items-center border-0 mt-3">
                                <h6 class="font-weight-bold m-0 chart-title">Listado de Incremento Diario</h6>
                            </div>
                            <div class="card-body">
                                <ul class="list-group text-primary">

                                    <li class="list-group-item bg-primary text-light">
                                        <div class="row align-items-center">
                                            <div class="col mr-2">
                                                Fecha</div>
                                            <div class="col col-sm-2 text-center">
                                                <span class="d-sm-none">A</span>
                                                <span class="d-none d-sm-inline"> Afectados </span>

                                            </div>
                                            <div class="col col-sm-2 text-center">
                                                <span class="d-sm-none">F</span>
                                                <span class="d-none d-sm-inline"> Fallecidos </span>

                                            </div>
                                            <div class="col col-sm-2 d-none d-sm-inline text-center">
                                                <span class="d-sm-none">N</span>
                                                <span class="d-none d-sm-inline"> Negativos </span>

                                            </div>
                                            <div class="col col-sm-2 d-none d-sm-inline text-center">
                                                <span class="d-sm-none">P</span>
                                                <span class="d-none d-sm-inline"> Pendientes </span>

                                            </div>
                                            <div class="col text-center">
                                                <span class="d-sm-none">PR</span>
                                                <span class="d-none d-sm-inline"> Pruebas Realizadas </span>

                                            </div>
                                        </div>
                                    </li>

                                    <li class="list-group-item" *ngFor="let item of allDailyCases[0]?.items | sortBy:'desc':'date'">
                                        <div class="row align-items-center no-gutters">
                                            <div class="col mr-2">
                                                <h6 class="d-none d-sm-inline"><strong>{{item?.dateChecked | date:'MMM dd, yyyy'}}</strong></h6>
                                                <h6 class="d-sm-none"><strong>{{item?.dateChecked | date:'M/dd'}}</strong></h6>
                                            </div>
                                            <div class="col col-sm-2 text-center">
                                                {{item?.positive ? item?.positive : 0 | number}}
                                            </div>
                                            <div class="col col-sm-2 text-center">
                                                {{item?.death ? item?.death : 0 | number}}
                                            </div>
                                            <div class="col col-sm-2 text-center d-none d-sm-inline">
                                                {{item?.negative ? item?.negative : 0 | number}}
                                            </div>
                                            <div class="col col-sm-2 text-center d-none d-sm-inline">
                                                {{item?.pending ? item?.pending : 0 | number}}
                                            </div>
                                            <div class="col text-center">
                                                {{item?.totalTestResults | number}}
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="alert alert-light text-primary text-center text-xs">
                            Al momento, el gobierno no provee una manera donde podamos consumir la data de manera dinámica, por esta razón, puede haber discrepancias en los resultados.<br/> Este sitios fue desarrollado como un proyecto experimental.
                        </div>
                    </div>
                </div>
            </div>
            <footer class="bg-light sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>©{{year}} DEVX LAB, LLC. • COVID-19 Puerto Rico
                            Dashboard • Version {{version}}</span></div>
                </div>
            </footer>
        </div>
    </div>