<div [@routerTransition]>
    <!--<h2 class="text-muted mt-4 mb-5">Account <small>Statistics Overview</small></h2>-->
    <div class="row mb-5 p-4 bg-warning">
        <div class="col-xl-2 col-md-3 col-4 mb-2">
            <img src="assets/images/logo.png" class="img-fluid">
        </div>
        <div class="col-xl-10 col-md-9 col-8 mb-2">
            <div class="row">
                <div class="col-12 col-md-7 col-lg-4">
                    <ul class="tags">
                        <h2 class="name">FULL NAME</h2>
                        <li class="tag-item"><i class="fa fa-map-marker"></i> physical address</li>
                        <li class="tag-item"><i class="fa fa-envelope"></i> account@provider.com</li>
                        <li class="tag-item"><i class="fa fa-phone"></i> 999-999-9999</li>
                    </ul>
                </div>
                <div class="col-12 col-md-5 col-lg-8 mt-md-2">
                    <ul class="vip-tags">
                        <h5>VIP Name<br/><small>Leader name</small></h5>
                        <li class="tag-item"><i class="fa fa-map-marker"></i> physical address</li>
                        <li class="tag-item"><i class="fa fa-envelope"></i> account@provider.com</li>
                        <li class="tag-item"><i class="fa fa-phone"></i> 999-999-9999</li>
                    </ul>
                </div>

                <div class="col-12">
                    <ul class="ministry-tags">
                        <h5>Member of:</h5>
                        <li class="tag-item"><a href="#">Ministry 1</a></li>
                        <li class="tag-item">Ministry 2</li>
                        <li class="tag-item">Ministry 3</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4">
            <div class="card card-default mb-3">
                <div class="card-header">
                    <i class="fa fa-bell fa-fw"></i> Latest Events
                </div>
                <!-- /.card-header -->
                <app-notification></app-notification>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <div class="card card-default mb-3">
                <div class="card-header">
                    <i class="fa fa-users"></i> VIP Name <small>Members</small>
                </div>
                <!-- /.card-header -->
                <app-notification></app-notification>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <div class="card card-default mb-3">
                <div class="card-header">
                    <i class="fa fa-user"></i> Church Members <small>in Bayamón</small>
                </div>
                <!-- /.card-header -->
                <app-notification></app-notification>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col-lg-4 -->
    </div>
</div>